@charset "utf-8";
/* CSS Document */

/*标签申明*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	padding: 0;
	margin: 0;
	font-size: 14px;
}
div {
	display: block;
}
a, a:link, a:visited {
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
	font-size: 14px;
}

/*body 描述*/
.page-signup {
	font-size: 14px;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
	cursor: default;
	background-color: #3c5a76;
	background-repeat: no-repeat;
	display: block;
}

/*头部注册部分*/
#header #nav {
	width: 60px;
	padding: 0;
}
.login-button {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 60px;
	height: 30px;
	text-indent: -9999em;
	background-image: url(img/button.png);
	background-repeat: no-repeat;
	/*background-position: 0 -30;*/
}

/*中间logo以及输入框部分*/
#content {
	min-height: 330px;
	margin: 0 auto;
	
}
.clearfix, #content {
	display: block;
}
.signup-wrapper {
	position: absolute;
	top: 25%;
	width: 550px;
	left: 30%;
	height: 327px;
}
.signup-logo {
	width: 500px;
	height: 300px;
	text-indent: -9999em;
	display:block;
	/*background-attachment: scroll; */
	background-image: url(img/register-bg-dark-2.png);
	background-repeat: no-repeat;
	/*background-position: 0 0;*/
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
form {
	display: block;
}
/*input, a {
	outline: none;
}*/
.message_box{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #FFF;
	height: 40px;
	width: 550px;
	margin: 0px auto;
	display: block;
}

#signup_form {
	border: none;
	width: 550px;
	height: 40px;
	padding-right: 15px;
	overflow: hidden;
	position: relative;
	float: left;
	display: block;
}
.signup-item-wrapper{
	background-attachment: scroll;
	background-image: url(img/reg-v2-input-sprites.$1412.png);
	background-repeat: no-repeat;
	/*background-position: 0px -40px;*/
	width: 194px;
	float: left;
	margin-right: 30px;
	height: 40px;
	margin-left: 30px;
	
}
.signup-input {
	width: 198px;
	height: 40px;
	padding-top:8px;
	overflow: hidden;
	/*border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #39C;
	border-right-color: #39C;
	border-bottom-color: #39C;
	border-left-color: #39C;*/
	font-size: 18px;
	color: #324F65;
}
.signup-label {
	position: absolute;
	left: 40px;
	top: 8px;
	font-size: 18px;
	cursor: text;
	color:  #92A2AF;
}

.signup-submit {
	width: 173px;
	height: 40px;
	border: none;
	cursor: pointer;
	text-indent: -9999;
	background-attachment: scroll;
	background-image: url(img/reg%20button.png);
	background-repeat: no-repeat;
	/*background-position: 0 -40px;*/

}

button {
	-webkit-appearance: button;
	display: block;
}

/*footer*/
#footer {
	position: relative;
	top:600px;
	height: 20px;
	clear: both;
	width: 100%;
	text-align: center;
	color: #979B9E;
	display: block;

}
#footer a, #footer a:link, #footer a:visited {
	color: #979B9E;
}
#footer a:hover {
	color:#FFF
}
#footer .footer-item {
	margin:0 5px;
}
